{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^elysia",
    "^@elysiajs",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/common/(.*)$",
    "^@/config/(.*)$",
    "^@/db/(.*)$",
    "^@/modules/(.*)$",
    "^@/http/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}
